<div class="page-wrap">
    <div class="nav-style">
        <div class="mobile-view">
            <div class="mobile-view-header">
                <div class="mobile-view-close">
                    <i class="fa fa-times js-toggle"></i>
                </div>
            </div>
            <div class="mobile-view-body"></div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container py-2 px-2">
                <a class="navbar-brand" href="#">E-trgovina</a>

                <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3">
                    <i class="fa fa-bars js-toggle" style="font-size: 25px; color: white"></i>
                </div>

                <div class="d-none d-lg-block">
                    <ul class="navbar-nav ml-auto js-clone-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/store/<%= id %>">Moj profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/new-product/<%= id %>">Novi artikal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/products/all/<%= id %>">Svi artikli</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/orders/<%= id %>">Narudžbe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/chats/<%= id %>">Razgovori</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/notifications/<%= id %>">Notifikacije</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/<%= id %>">Odjavi se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>