<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proizvodi</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <link rel='stylesheet' href='/stylesheets/user.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/public/javascripts/header.js"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</head>
<body>
<header>
    <%- include('user-header.ejs') %>
</header>
<main>
    <section>
        <form action="/user/search-products/<%= id %>" method="post" id="search-form">
            <div class="input-group rounded search">
                <input type="search" class="form-control rounded" name="search" placeholder="Pretraži..."
                       value="<%= searchQuery%>"
                       aria-label="Search"
                       aria-describedby="search-addon"/>
                <span class="input-group-text border-0">
                        <i class="fa fa-search" id="search-addon"></i>
                </span>
            </div>
            <div class="d-flex justify-content-end order-by">
                <div class="input-group rounded order">
                    <input type="text" class="form-control rounded" list="order_by" name="orderBy" placeholder="Poredaj po..."/>
                    <datalist id="order_by">
                        <option value="1">Cijeni (veća prema manjoj)</option>
                        <option value="2">Cijeni (manja prema većoj)</option>
                    </datalist>
                </div>
                <div class="input-group rounded order price-filter">
                    <input type="number" step="any" class="form-control rounded" name="priceFrom" placeholder="Cijena od" min="0"/>
                    <input type="number" step="any" class="form-control rounded" name="priceTo" placeholder="Cijena do" min="0"/>
                </div>
            </div>

        </form>
    </section>
    <section>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <hr>

                <% if(products.length === 0) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                Nema artikala koji zadovoljavaju traženi kriterij
                            </div>
                        </div>
                    </div>

                <% } else { %>

                    <% products.forEach(product => { %>
                        <div class="card mb-3" id="<%= product.id %>">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div>
                                            <img
                                                    src="<%= product.images[0].img_url %>"
                                                    class="img-fluid rounded-3" alt="Artikal" style="width: 65px;">
                                        </div>
                                        <div class="ms-3">
                                            <h5><%= product.name %></h5>
                                            <p class="small mb-0"><%= product.description.slice(0, 10) %>...</p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <div style="width: 50px;">
                                            <h5 class="fw-normal mb-0"><%= product.quantity %></h5>
                                        </div>
                                        <div style="width: 80px;">
                                            <h5 class="mb-0"><%= product.price %>€</h5>
                                        </div>
                                        <a href="/user/product/<%= id %>/<%= product.id %>"
                                           id="show-product">
                                            <button class="btn btn-secondary">Prikaži</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <%}%>
            </div>
        </div>
    </section>
</main>
<footer>
    <%- include('../footer.ejs') %>
</footer>
<script>

    $(document).ready(() => {
        $('#search-addon').click(() => {
            $('#search-form').submit()
        })
    })
</script>
</body>
</html>